<div class="shop-select-sheet">
  <h2 class="shop-select-sheet__title">{{ 'shop.selectTitle' | transloco }}</h2>
  <ul class="shop-select-sheet__list" role="list">
    @for (shop of data.shops; track shop.id) {
      <li>
        <button
          type="button"
          class="shop-select-sheet__option"
          (click)="choose(shop.id)"
        >
          <mat-icon aria-hidden="true">storefront</mat-icon>
          <span>{{ shop.name }}</span>
        </button>
      </li>
    }
    <li>
      <button
        type="button"
        class="shop-select-sheet__option shop-select-sheet__option--global"
        (click)="choose(null)"
      >
        <mat-icon aria-hidden="true">public</mat-icon>
        <span>{{ 'shop.global' | transloco }}</span>
      </button>
    </li>
  </ul>
</div>
