<div class="app-access-denied">
  <h1 class="app-access-denied__title">{{ 'accessDenied.title' | transloco }}</h1>
  <p class="app-access-denied__message">
    @if (userEmail(); as user) {
      <span [innerHTML]="'accessDenied.message' | transloco: { email: user.email }"></span>
    } @else {
      {{ 'accessDenied.messageNoEmail' | transloco }}
    }
  </p>
  <button
    mat-stroked-button
    class="app-access-denied__action"
    (click)="tryDifferentAccount()"
  >
    {{ 'accessDenied.tryDifferent' | transloco }}
  </button>
</div>
