<div class="app-manage-shops">
  <header class="app-manage-shops__header">
    <button
      mat-icon-button
      class="app-manage-shops__back-btn"
      [attr.aria-label]="'manageShops.goBack' | transloco"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="app-manage-shops__title">{{ 'manageShops.title' | transloco }}</h1>
  </header>

  <div class="app-manage-shops__list">
    @for (shop of shops(); track shop.id) {
      <div class="app-manage-shops__shop-row">
        <button
          class="app-manage-shops__shop-name"
          (click)="openRenameSheet(shop)"
        >
          {{ shop.name }}
        </button>
        <button
          mat-icon-button
          class="app-manage-shops__delete-btn"
          [attr.aria-label]="'manageShops.deleteShop' | transloco: { name: shop.name }"
          (click)="deleteShop(shop)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    } @empty {
      <p class="app-manage-shops__empty">{{ 'manageShops.empty' | transloco }}</p>
    }
  </div>

  <button
    mat-fab
    class="app-manage-shops__fab"
    [attr.aria-label]="'manageShops.addShop' | transloco"
    (click)="openAddSheet()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
