<div class="app-manage-shops">
  <header class="app-manage-shops__header">
    <button
      mat-icon-button
      class="app-manage-shops__back-btn"
      [attr.aria-label]="'stores.goBack' | transloco"
      (click)="goBack()"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="app-manage-shops__title">{{ 'stores.title' | transloco }}</h1>
  </header>

  <div
    cdkDropList
    class="app-manage-shops__list"
    (cdkDropListDropped)="onShopDrop($event)"
  >
    @for (shop of shops(); track shop.id) {
      <div cdkDrag class="app-manage-shops__shop-row">
        <mat-icon
          cdkDragHandle
          class="app-manage-shops__handle"
          [attr.aria-label]="'stores.dragHandle' | transloco: { name: shop.name }"
        >
          drag_indicator
        </mat-icon>
        <button
          class="app-manage-shops__shop-main"
          type="button"
          (click)="openEdit(shop)"
        >
          <span class="app-manage-shops__shop-name">{{ shop.name }}</span>
          @if (shop.priceSearchUrl) {
            <span class="app-manage-shops__shop-url">
              <mat-icon class="app-manage-shops__shop-url-icon" aria-hidden="true">link</mat-icon>
              {{ shop.priceSearchUrl }}
            </span>
          } @else {
            <span class="app-manage-shops__shop-url app-manage-shops__shop-url--missing">
              <mat-icon class="app-manage-shops__shop-url-icon" aria-hidden="true">link_off</mat-icon>
              {{ 'stores.noPriceSearchUrl' | transloco }}
            </span>
          }
        </button>
        <mat-icon class="app-manage-shops__row-chevron" aria-hidden="true">
          chevron_right
        </mat-icon>
      </div>
    } @empty {
      <p class="app-manage-shops__empty">{{ 'stores.empty' | transloco }}</p>
    }
  </div>

  <button
    mat-fab
    class="app-manage-shops__fab"
    [attr.aria-label]="'stores.addStore' | transloco"
    (click)="openCreate()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
