<div class="app-shop-name-sheet">
  <h3 class="app-shop-name-sheet__title">
    @if (mode === 'add') {
      {{ 'shopNameSheet.addTitle' | transloco }}
    } @else {
      {{ 'shopNameSheet.renameTitle' | transloco }}
    }
  </h3>

  <mat-form-field class="app-shop-name-sheet__field">
    <mat-label>{{ 'shopNameSheet.shopName' | transloco }}</mat-label>
    <input
      matInput
      [ngModel]="name()"
      (ngModelChange)="name.set($event)"
      (keydown.enter)="onSubmit()"
      cdkFocusInitial
    />
    @if (hasConflict()) {
      <mat-error>{{ 'shopNameSheet.nameConflict' | transloco }}</mat-error>
    }
  </mat-form-field>

  <div class="app-shop-name-sheet__actions">
    <button mat-button (click)="onCancel()">{{ 'shopNameSheet.cancel' | transloco }}</button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="!isValid()"
      (click)="onSubmit()"
    >
      {{ actionLabel | transloco }}
    </button>
  </div>
</div>
