<div class="app-shop-price-url-sheet">
  <h3 class="app-shop-price-url-sheet__title">
    {{ 'shopPriceUrlSheet.title' | transloco }}
  </h3>
  <p class="app-shop-price-url-sheet__shop-name">{{ shopName }}</p>

  <mat-form-field class="app-shop-price-url-sheet__field">
    <mat-label>{{ 'shopPriceUrlSheet.urlLabel' | transloco }}</mat-label>
    <input
      matInput
      type="url"
      [ngModel]="url()"
      (ngModelChange)="url.set($event)"
      (keydown.enter)="onSubmit()"
      [placeholder]="'shopPriceUrlSheet.urlPlaceholder' | transloco"
      cdkFocusInitial
    />
    <mat-hint>{{ 'shopPriceUrlSheet.hint' | transloco }}</mat-hint>
  </mat-form-field>

  <div class="app-shop-price-url-sheet__actions">
    <button mat-button (click)="onCancel()">{{ 'shopPriceUrlSheet.cancel' | transloco }}</button>
    <button mat-flat-button color="primary" (click)="onSubmit()">
      {{ 'shopPriceUrlSheet.save' | transloco }}
    </button>
  </div>
</div>
