<div class="app-group-picker-sheet">
  <h3 class="app-group-picker-sheet__title">
    @if (data.mode === 'add') {
      {{ 'groupPickerSheet.addTitle' | transloco }}
    } @else {
      {{ 'groupPickerSheet.removeTitle' | transloco }}
    }
  </h3>

  @if (data.groups.length === 0) {
    <p class="app-group-picker-sheet__empty">
      {{ 'groupPickerSheet.empty' | transloco }}
    </p>
  } @else {
    <ul class="app-group-picker-sheet__list" role="list">
      @for (group of data.groups; track group.id) {
        <li>
          <button
            type="button"
            class="app-group-picker-sheet__option"
            (click)="onPick(group.id)"
          >
            {{ group.name }}
          </button>
        </li>
      }
    </ul>
  }

  <div class="app-group-picker-sheet__actions">
    <button mat-button (click)="onCancel()">
      {{ 'groupPickerSheet.cancel' | transloco }}
    </button>
  </div>
</div>
