<div class="app-nav-drawer">
  <section class="app-nav-drawer__shop-section">
    <mat-form-field class="app-nav-drawer__shop-field">
      <mat-label>{{ 'navDrawer.shopLayout' | transloco }}</mat-label>
      <mat-select
        [value]="selectedShopId() ?? ''"
        (selectionChange)="onShopChanged($event.value)"
      >
        <mat-option value="">{{ 'navDrawer.globalAll' | transloco }}</mat-option>
        @for (shop of shops(); track shop.id) {
          <mat-option [value]="shop.id">{{ shop.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>

    <a matButton
      class="app-nav-drawer__manage-shops app-nav-drawer__categories"
      (click)="onViewCategories()"
    >
      <mat-icon>category</mat-icon>
      {{ 'navDrawer.categories' | transloco }}
    </a>

    <a matButton
      class="app-nav-drawer__manage-shops app-nav-drawer__stores"
      (click)="onManageShops()"
    >
      <mat-icon>store</mat-icon>
      {{ 'navDrawer.stores' | transloco }}
    </a>

    <a matButton
      class="app-nav-drawer__manage-shops"
      (click)="onViewHistory()"
    >
      <mat-icon>history</mat-icon>
      {{ 'navDrawer.viewHistory' | transloco }}
    </a>

    <mat-divider></mat-divider>

    <a matButton
      class="app-nav-drawer__manage-shops app-nav-drawer__settings"
      (click)="onViewSettings()"
    >
      <mat-icon>settings</mat-icon>
      {{ 'navDrawer.settings' | transloco }}
    </a>
  </section>
</div>
