.app-nav-drawer {
  display: flex;
  flex-direction: column;
  padding: var(--app-spacing-md);
  min-width: 17.5rem;

  &__shop-section {
    display: flex;
    flex-direction: column;
    gap: var(--app-spacing-xs);
  }

  &__shop-field {
    width: 100%;
  }

  &__manage-shops {
    font-size: var(--app-font-body-lg);
    gap: var(--app-spacing-xxs);
    justify-content: flex-start;
  }
}
