.app-nav-drawer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-width: 17.5rem;

  &__shop-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__shop-field {
    width: 100%;
  }

  &__manage-shops {
    gap: 0.25rem;
    justify-content: flex-start;
  }
}
